// app global css in Sass form

@font-face
    font-family: 'playlistscript'
    src: url('./fonts/playlist_script-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'glacial_indifferenceregular'
    src: url('./fonts/glacialindifference-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6, .text-subtitle1, .text-subtitle2, .text-caption, .text-overline
  font-family: 'glacial_indifferenceregular'

.my-card
  width: 100%
  max-width: 250px

.welcome-card
  max-height: 100%

.toolbar-title-link
  font-family: 'playlistscript'
  color: white
  text-decoration: none